asgiref>=3.5.0
astroid>=2.9.3
asttokens>=2.0.5
backcall>=0.2.0
black>=21.12b0
certifi>=2021.10.8
charset-normalizer>=2.0.10
click>=8.0.3
colorama>=0.4.4
debugpy>=1.5.1
decorator>=5.1.1
dj-database-url>=0.5.0
Django>=4.0.3
django-heroku>=0.3.1
entrypoints>=0.3
executing>=0.8.2
fire>=0.1.2
Flask>=2.0.3
gunicorn>=20.1.0
idna>=3.3
ipykernel>=6.7.0
ipython>=8.0.0
isort>=5.10.1
itsdangerous>=2.1.0
jedi>=0.18.1
Jinja2>=3.0.3
joblib>=1.1.0
jupyter-client>=7.1.1
jupyter-core>=4.9.1
lazy-object-proxy>=1.7.1
lxml>=4.7.1
MarkupSafe>=2.1.0
matplotlib-inline>=0.1.3
mccabe>=0.6.1
mypy-extensions>=0.4.3
nest-asyncio>=1.5.4
numpy>=1.22.1
pandas>=1.3.5
pandas-datareader>=0.10.0
parso>=0.8.3
pathspec>=0.9.0
peewee>=2.8.8
pickleshare>=0.7.5
platformdirs>=2.4.1
plotly>=5.5.0
prompt-toolkit>=3.0.24
psycopg2>=2.9.3
pure-eval>=0.2.1
Pygments>=2.11.2
pylint>=2.12.2
python-dateutil>=2.8.2
pytz>=2021.3
pyzmq>=22.3.0
requests>=2.27.1
scikit-learn>=1.0.2
scipy>=1.8.0
six>=1.16.0
sqlparse>=0.4.2
stack-data>=0.1.4
tenacity>=8.0.1
threadpoolctl>=3.1.0
toml>=0.10.2
tomli>=1.2.3
tornado>=6.1
traitlets>=5.1.1
typing_extensions>=4.0.1
tzdata>=2022.1
urllib3>=1.26.8
wcwidth>=0.2.5
Werkzeug>=2.0.3
whitenoise>=6.0.0
Workon>=0.8.2
wrapt>=1.13.3
